<ng-container *ngIf="(_item$ | async) && (slug$ | async) ;else create">
  <ng-container *ngIf="(itemType$ | async) === 'antiques'">
    <antique-form [item]="item"></antique-form>
  </ng-container>
  <ng-container *ngIf="(itemType$ | async) === 'auctions'">
    <auction-form [item]="item"></auction-form>
  </ng-container>
</ng-container>

<ng-template #create>
  <ng-container *ngIf="(itemType$ | async) === 'antiques'">
    <antique-form></antique-form>
  </ng-container>
  <ng-container *ngIf="(itemType$ | async) === 'auctions'">
    <auction-form></auction-form>
  </ng-container>
</ng-template>