<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>{{label}}</mat-label>
  <mat-chip-list #chipList [multiple]="multiple" aria-label="Item selection">
    <mat-chip *ngFor="let v of _value" (removed)="remove(v)">
      {{v}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="New item..." #itemInput [formControl]="itemCtrl" [matAutocomplete]="auto"
      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let item of filteredItems$ | async" [value]="item">
      {{item}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>