<div class="mat-elevation-z8">
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="limitReached">
            GitHub's API rate limit has been reached. It will be reset in one minute.
        </div>
    </div>

    <div *ngIf="displayedColumns$|async as dcs" class="table-container">
        <button mat-mini-fab color="primary" style="margin-block-end: 1rem" (click)="addItem()"><mat-icon style="color: white;">add</mat-icon></button>
        <table mat-table [dataSource]="data" class="table" matSort matSortActive="created" matSortDisableClear
            matSortDirection="desc">
            <!-- Number Column -->
            <ng-container *ngFor="let col of dcs" [matColumnDef]="col">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>{{col}}</th>
                <td mat-cell *matCellDef="let row">
                    <span *ngIf="col !== 'actions'">{{row?.[col]}}</span>
                    <span *ngIf="col === 'actions'">
                        <button mat-icon-button (click)="exec('edit', row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="exec('details', row)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button (click)="exec('delete', row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dcs"></tr>
            <tr mat-row *matRowDef="let row; columns: dcs;"></tr>
        </table>
    </div>

    <mat-paginator [length]="total" [pageSize]="pageSize" aria-label="Select page">
    </mat-paginator>
</div>