@import '../../theme.scss';

:host {
    display: flex;
    flex-flow: column nowrap;
    background-color: $primary-darker;

    .mat-card {
        background: transparent;
    }

    a {
        text-decoration: none;
        line-height: 1;
        box-shadow: rgb(0 30 30 / 35%) 0px 4px 12px;
    }

    .mat-card-title{
        color: $secondary;
    }

    img {
        max-height: 540px;
        min-height: 100px;
        width: calc(100% + 32px);
        max-width: calc(100% + 32px);
        height: auto;
        min-height: 50px;
        object-fit: cover;
        object-position: center;
    }
}