@use "@angular/material" as mat;
@import '../src/snt-theme.scss';

:root {
    --secondary: #f2a283;
    --font-color: #ddd;
    --primary-darker: mat.get-color-from-palette($dark-theme-background-palette, 900);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $snt-font-family;
    font-size: 12pt;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: block;
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.mat-drawer-container {
    color: $font-color;
}

.mat-toolbar {
    color: $font-color;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.logo-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.fluid {
    width: 100%;
    margin: 0;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.mat-card-image {
    min-height: 250px;
}