@use "@angular/material" as mat;
@import '../src/snt-theme.scss';
@import './scroll.scss';

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12pt;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: block;
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}



    .mat-toolbar {
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;     
    }

.logo-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.fluid {
    width: 100%;
    margin: 0;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.mat-card-image {
    min-height: 250px;
}
.mat-icon{
    color: var(--theme-primary-default)
}
fieldset{
    padding: 1rem;
    border-color: var(--theme-divider);
    legend{
        padding: .5rem;
    }
}

mbs-1{
    margin-block-start: 1rem
}
mbs-2{
    margin-block-start: 2rem
}
mbs-3{
    margin-block-start: 3rem
}
mbs-4{
    margin-block-start: 4rem
}
mbe-1{
    margin-block-end: 1rem
}
mbe-2{
    margin-block-end: 2rem
}
mbe-3{
    margin-block-end: 3rem
}
mbe-4{
    margin-block-end: 4rem
}

.flex{
    display: flex;
    gap:1rem
}
.justify-end{
    justify-content: end;
}
.align-center{
    align-items: center;
}