<ng-container *ngIf="antique">


    <snt-workspace-gallry-swiper class="slider" [items]="antique.images"></snt-workspace-gallry-swiper>
    <div class="details-wrapper">

        <div class="details">
            <h1>19th Century Double Fusee Repeating Skeleton Clock Circa 1860</h1>
            <h4>Dateed 1992</h4>
            <h2>Description</h2>
            <p style="text-align: justify">
                A rare superb quality skeleton clock, surmounted by a bell over a twin fusee eight day movement striking
                the
                full hours on a bell.<br> The dial inscribed JAS WEST BOLTON. The whole clock is in superb condition
                with a
                heavy gauge frame, and visible springs, The clock stands on a stepped marble base with the original
                heavy
                gauge glass dome .This unique piece has a repeat pull mechanism. Despite searching the Internet I can
                see no
                other with this repeat feature .<br>for further clocks of interest please visit our website
                www.frankcraigantiques.com<br>Should you have any questions please do not hesitate to contact us. <br>We
                can
                arrange SHIPPING TO ANY DESTINATION <br>For further items of interest you’re welcome to visit our
                website
                www.frankcraigantiques.com <br> Frank Craig Antiques have been established over 50 years.<br>Our
                experience
                ensures that we only select the best pieces in their category. We offer our customers a reliable service
                with the assurance that all our stock is thoroughly vetted as genuine antique and sold at the best
                possible
                price point. All items are sold without restoration or a minimum if required and will be in a condition
                commiserate with age.<br>The following information will assist potential purchasers:-<br>ENQUIRIES- All
                enquiries by either phone or e.mail are very welcome &amp; will be attended to promptly.<br>VIEWING -
                can be
                arranged by appointment.<br>PAYMENT - by bank transfer, cheque, card or cash.<br>DELIVERY Worldwide can
                be
                arranged We can quote for packing and shipping at the buyers risk and expense to any
                destination.<br>Internal Ref: <i>1320</i><br>
            </p>




        </div>

        <div class="side">

            <h2>Price</h2>
            <span class="price" style="color:#f83030;font-size:2.125rem;">{{antique.price}}</span>
            <br />
            <button mat-raised-button color="primary" class="price" style="color:#f50d0d;font-size:1.5rem;">Buy now </button>

            <br />
            <div style="display: flex; justify-content: space-evenly;">
                <span>{{antique.category}}</span>
                <span *ngFor="let t of antique.tags">{{t}}</span>
            </div>
            <br />
            <span>
                <span class="detail-subheading">Item Number:</span> <span class="detail-subtext">SA918012</span><br>
                <span class="detail-subheading">Date of manufacture:</span> <span
                    class="detail-subtext">Victorian</span><br>
                <span class="detail-subheading">Current Status:</span> <span class="detail-subtext"> For
                    sale</span>
            </span>


            <h3>Dimensions</h3>
            Height = 44 cm (17.3") <br>
            Width = 0 cm (0.0") <br>
            Depth = 18 cm (7.1")
        </div>
    </div>

    <snt-workspace-related-items-slider [items]="relatedITems"></snt-workspace-related-items-slider>
</ng-container>