:host {
    display: flex;
    justify-content: center;
    color:var(--theme-text);

    mat-card{
        padding: 2rem;
        mat-card-title{
            font-size: 1.5rem;
            margin-block-end: 2rem;
        }
        mat-card-content {
            margin-block-start: 2rem;
            display: flex;
            justify-content: center;
        }
        .actions{
            display: flex;
            flex-flow: column nowrap;
            margin-block-start: 1rem;

            .button {
                display: flex;
                justify-content: flex-end;
            }
            
            .links {
                display: flex;
                flex-flow: column nowrap;

                a {
                    text-decoration: none;
                    color:var(--theme-primary-default);
                }
            }
        }
    }
}

.mat-form-field {
    width: 100%;
}


.error {
    padding: 0 1rem;
    width: 100%;
    color: red;
}

