@import '../../../snt-theme.scss';

.card {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--theme-card);
    line-height: 1;
    a {
        text-decoration: none;
        color: var(--theme-text);
    }
    .mat-card {
        background: transparent;
    }
    .mat-card-title {
        color: var(--theme-primary-default);
        font-size: 1.25rem;
    }
    .mat-card-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
       p{
        margin: 0;
        display: flex;
        align-items: center;
       }
       #price{
        font-size: 1.25rem;
       }
    }
    img {
        width: calc(100% + 32px);
        max-width: calc(100% + 32px);
        height: auto;   
        object-fit: cover;
        object-position: center;
    }
}