@import '../../../snt-theme.scss';

mat-drawer-container {
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.mat-drawer {
    padding-block-start: 64px;
    width: 150px;

    &>.mat-drawer-inner-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.app-logo {
    height: 100%;
    max-height: 50px;
    width: auto;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $secondary;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-inline-end: 3px solid transparent;

    &:hover,
    &:focus,
    &.active {
        color: #fff;
        border-inline-end: 3px solid $secondary;
    }

    &:not(:last-child) {
        margin-block-end: 0.25rem;
    }
}