<mat-toolbar reactiveToolbar>
    <button mat-icon-button (click)="drawer.toggle()" aria-label="toggle app menu">
        <mat-icon>{{ drawer.opened === false ? 'menu' : 'disabled_by_default'}}</mat-icon>
    </button>
    <a class="nav-link" routerLink="/home" routerLinkActive="active" aria-label="Home">
        SNT Antiques And Auctions
    </a>
    <span class="spacer"></span>

</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" [opened]="true">
        <a class="nav-link" color="primary" routerLink="./antiques/list" routerLinkActive="active" aria-label="Antiques">Antiques</a>
        <a class="nav-link" color="primary" routerLink="./auctions/list" routerLinkActive="active" aria-label="Auctions">Auctions</a>
        <a class="nav-link" color="primary" routerLink="./users/list" routerLinkActive="active" aria-label="Home">Users</a>
        <a class="nav-link" color="primary" routerLink="./orders/list" routerLinkActive="active" aria-label="Home">Orders</a>
        <a class="nav-link" color="primary" routerLink="./payments/list" routerLinkActive="active" aria-label="Home">Payments</a>
    </mat-drawer>
    <mat-drawer-content style="padding: 64px 1rem">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>