<mat-toolbar reactiveToolbar>
    <button mat-icon-button (click)="toggleAppMenu()" aria-label="toggle app menu">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="logo-container" routerLink="/client/home" routerLinkActive="active" aria-label="Home">
        SNT
    </a>
    <span class="spacer"></span>
    <a class="nav-link" color="primary" routerLink="./home" routerLinkActive="active" aria-label="Home">Home</a>
    <a class="nav-link" color="primary" routerLink="./antiques" routerLinkActive="active"
        aria-label="Antiques">Antiques</a>
    <a class="nav-link" color="primary" routerLink="./auctions" routerLinkActive="active"
        aria-label="Auctions">Auctions</a>
    <snt-workspace-nav-bar-menu class="nav-link"></snt-workspace-nav-bar-menu>
    <snt-workspace-cart class="nav-link"></snt-workspace-cart>

</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer-content style="padding-top: 64px">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>