<mat-toolbar reactiveToolbar>
    <button mat-icon-button (click)="drawer.toggle()" aria-label="toggle app menu">
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/home" routerLinkActive="active" aria-label="Home">
        SNT antiques and auctions
    </a>
    <span class="spacer"></span>
    <a class="nav-link" color="primary" routerLink="./home" routerLinkActive="active" aria-label="Home">Home</a>
    <a class="nav-link" color="primary" routerLink="./antiques" routerLinkActive="active"
        aria-label="Antiques">Antiques</a>
    <a class="nav-link" color="primary" routerLink="./auctions" routerLinkActive="active"
        aria-label="Auctions">Auctions</a>
    <ng-container *ngIf="cart.cart$ | async as _cart">

        <a *ngIf="_cart.length" matBadge="{{_cart.length}}" matBadgeColor="warn" class="nav-link"
            [matMenuTriggerFor]="carMenu" aria-label="User cart menu">
            <mat-icon>shopping_bag</mat-icon>
        </a>
        <mat-menu #carMenu="matMenu">
            <a *ngFor="let item of _cart" onclick="menuItemClicked()">
                <snt-workspace-cart-item [item]="item"></snt-workspace-cart-item>
            </a>
            <button mat-menu-item (click)="checkout()"
                style="background-color: red; width: calc(100% - 1rem); color: #fff; display: flex; flex-flow: row nowrap; align-items: center; margin: 0.5rem; padding: 0.25rem 0.5rem;">
                <mat-icon>shopping_cart_checkout</mat-icon>
                Check out
            </button>
        </mat-menu>
    </ng-container>

</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer mode="over"></mat-drawer>
    <mat-drawer-content style="padding-top: 64px">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>