:host {
  padding-block-start: 1rem;
  width: 100%;
  overflow: hidden;
  font-size: 12pt;
  line-height: 1.25;
  .container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    .slider {
      display: flex;
      flex-flow: column nowrap;
      height: 50vh;
      margin-block-start: 2rem;
    }

    .details-wrapper {
      display: grid;
      grid-template-columns: 1fr minmax(300px, 350px);
      grid-template-areas: "details side";
      width: 100%;
      position: relative;
      .details {
        grid-area: details;
        display: flex;
        flex-flow: column nowrap;
        padding: 0.5rem;
        margin-inline-end: 1rem;
      }

      .side {
        grid-area: side;
        display: flex;
        flex-flow: column nowrap;
        padding: 1rem 1rem 0 1rem;
        border-inline-start: 2px solid var(--theme-divider);
        align-self: start;
        // position: sticky;
        // top: 1rem;
        height: auto;


        .info{
            display: flex;
            flex-flow: column nowrap;

            h4{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h4:not(:last-of-type) {
                border-block-end: 2px dotted var(--theme-divider)
            }

        }
      }
    }
  }
  #similar-items {
    margin-block-start: 2.5rem;
    padding: 2.5rem 1rem;
    background-image: url("/assets/antiques2-bg.jpg");
  }
}
.line{
    background: var(--theme-divider);
    margin-block-end: 1rem;
}