:host {
    display: flex;
    padding-block-start: 1rem;
    flex-flow: column nowrap;
    width: 100%;
    overflow: hidden;
    font-size: 12pt;
    line-height: 1.25;

    .slider {
        display: flex;
        flex-flow: column nowrap;
        height: 50vh;
        margin-block-end: 1rem;
    }

    .details-wrapper {

        display: flex;
        width: 100%;

        .details {
            display: flex;
            flex: 1 1 auto;
            flex-flow: column nowrap;
            padding: 0.5rem;
            margin-inline-end: 1rem;
        }

        .side {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 25%;
            padding: 0.5rem;
        }
    }

    #similar-items{
        margin-block-start: 2.5rem;
        padding: 2.5rem 1rem;
        background-image: url('/assets/antiques2-bg.jpg');
    }
}